{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}My Blog{% endblock %}


{% block content %}
  <div class="blog-header">
    <h1>My Blog</h1>
    <div class="filter-buttons">
      <button data-category="">all</button>
      <button data-category="ai">ai</button>
      <button data-category="computer-science">computer-science</button>
    </div>
  </div>


<div class="post-list">
    {% for post in posts %}
    <div class="post">
    </div>
    {% endfor %}
</div>


<script src="{% static "js/list.js" %}"></script>


{% endblock %}
